$big-text: 1.8rem;
$color-warning: red;

#preprocessors{
  h1{
    font-size: $big-text;
  }
  div{
    h3{
      font-size: $big-text;
      color: $color-warning;
    }
    p{
      color: $color-warning;
      ;
    }
  }
}